In [ ]:
import numpy as np
import pandas as pd
import time 
import requests
from scrapy.http import TextResponse

In [ ]:
url = "https://www.imdb.com/chart/moviemeter/"
page = requests.get(url)
response = TextResponse(url=page.url,body=page.text,encoding="utf-8")

In [ ]:
base_url = "https://www.imdb.com/"

In [ ]:
# Scraping titles, hyperlinks of the movies, years, ratings and rankings.
title = response.css("td.titleColumn > a::text").extract()
rel_hyperlinks = response.css("td.titleColumn > a::attr(href)").extract()
hyperlink = [base_url+i for i in rel_hyperlinks]
year = response.css("td.titleColumn > span.secondaryInfo::text").extract()
rating_td = response.css("td[class='ratingColumn imdbRating']")
[i.css('strong::text').extract_first() for i in rating_td]
ranking = response.css("td.titleColumn > div.velocity/*span.secondaryInfo*/").extract()

In [ ]:
# Creating a DataFrame.
df = pd.DataFrame({"Title": title,"Hyperlink": hyperlink,"Rating": rating_td, "Year": year, "Ranking":ranking})

In [ ]:
print(df)

                        Title  ...                                            Ranking
0                    365 Days  ...       <div class="velocity">1\n(no change)\n</div>
1                 Da 5 Bloods  ...  <div class="velocity">2\n<span class="secondar...
2                Artemis Fowl  ...  <div class="velocity">3\n<span class="secondar...
3   The King of Staten Island  ...  <div class="velocity">4\n<span class="secondar...
4                  Knives Out  ...  <div class="velocity">5\n<span class="secondar...
..                        ...  ...                                                ...
95            The Rising Hawk  ...  <div class="velocity">96\n<span class="seconda...
96                  Bloodshot  ...  <div class="velocity">97\n<span class="seconda...
97                   The Room  ...  <div class="velocity">98\n<span class="seconda...
98                      Emma.  ...  <div class="velocity">99\n<span class="seconda...
99                     Onward  ...  <div class="velocity">100\n<span class="second...

[100 rows x 5 columns]

In [ ]:
# Cleaning our DataFrame and eliminating breakets. 
df["Year"] = df["Year"].str.strip("()").astype(int)

In [ ]:
df["Year"]

0     2020
1     2020
2     2020
3     2020
4     2019
      ...
95    2019
96    2020
97    2003
98    2020
99    2020
Name: Year, Length: 100, dtype: int64