In [ ]:
#!pip install quandl

In [ ]:
# Importing all of the necessary packages. 
import quandl
import pandas as pd
import pandas 
import numpy as np

In [ ]:
# Personal API key
quandl.ApiConfig.api_key = '8Dn46NmnZPxXgBmjNjQg'

In [ ]:
# Importing stock prices of TESLA, choosing only necessary columns: ticker, date, open, high, low, close.
# Since the data should contain a 2-year information, I've chosen a period between 07/26/2017 and 07/26/2019.
data = quandl.get_table('WIKI/PRICES', qopts = { 'columns': ['ticker', 'date', 'open', 'high', 'low', 'close'] }, ticker = ['TSLA'], date = { 'gte': '2017-07-26', 'lte': '2019-07-26' })

In [ ]:
# Creating a DataFrame for solving the questions.
df = pd.DataFrame(data)
df

     ticker       date    open    high     low   close
None
0      TSLA 2018-03-27  304.00  304.27  277.18  279.18
1      TSLA 2018-03-26  307.34  307.59  291.36  304.18
2      TSLA 2018-03-23  311.25  311.61  300.45  301.54
3      TSLA 2018-03-22  313.89  318.82  308.18  309.10
4      TSLA 2018-03-21  310.25  322.44  310.19  316.53
...     ...        ...     ...     ...     ...     ...
163    TSLA 2017-08-01  323.00  324.45  316.13  319.57
164    TSLA 2017-07-31  335.50  341.49  321.04  323.47
165    TSLA 2017-07-28  336.89  339.60  332.51  335.07
166    TSLA 2017-07-27  346.00  347.50  326.29  334.46
167    TSLA 2017-07-26  340.36  345.50  338.12  343.85

[168 rows x 6 columns]

In [ ]:
# Question 1. Calculating average daily percentage change of the opening price 
# with a help of pct_change() and mean() functions.
avg_pct_change = df["open"].pct_change().mean()
avg_pct_change

0.0009376464521388761

In [ ]:
# Question 2. Calcuating median daily percentage change of range between highest and 
# lowest daily prices at first by finding the difference between high and low, and then 
# by using pct_change() and median() functions. 
med_pct_change = ((df["high"] - df["low"])/df["high"]).pct_change().median()
med_pct_change

0.03234235349163894